<%- include('./layout/cabecera.ejs') %>

<div class="container_fav">
    <h1>Favoritos</h1>
</div>

<div class="containerFavoritos">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < productos.length; i++) { %>
                <tr>
                    
                    
                    <!-- Columna para el nombre del producto -->
                    <td><%= productos[i].nombre %></td>
                    
                    <!-- Columna para la imagen del producto -->
                    <td>
                        <% if (productos[i].imagen) { %>
                            <img src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>" style="width: 250px; height: auto; border-radius: 8px;">
                        <% } else { %>
                            <span>No hay imagen</span>
                        <% } %>
                    </td>

                    <!-- Columna para el botón "Comprar" -->
                    <td>
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>