.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 200px; /* Tamaño fijo */
    height: auto; /* Mantiene la relación de aspecto */
    margin: auto;
}
/* Estilo para los botones de navegación del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia el color a negro */
  width: 20px; /* Ajusta el ancho de la flecha */
  height: 20px; /* Ajusta la altura de la flecha */
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px; /* Reduce el ancho del área de clic de los botones */
}

/* Cambiar el color de fondo */
.btn-custom {
  background-color: #ff5733; /* Elige el color de fondo que prefieras */
  color: #ffffff; /* Color del texto */
  border: none; /* Si no deseas borde */
}

/* Cambiar el color cuando el usuario pasa el mouse por encima */
.btn-custom:hover {
  background-color: #ff0000; /* Cambiar el color de fondo al pasar el mouse */
  color: #ffffff; /* Asegúrate de mantener el color del texto */
}
