.navbar-custom {
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    
    color: rgb(255, 255, 255);
    

    
  }
  

.logo img {
    height: 45px;
    /* Ajusta el tamaño del logo según tus necesidades */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar input {
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    border-radius: 0 5px 5px 0;
}

.navbar-nav .nav-link {
    color: #c1cdda;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}
