* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #bd70e66d;
    border-bottom: 1px solid #585454;
}

.logo img {
    height: 45px;
    /* Ajusta el tamaño del logo según tus necesidades */
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar input {
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    border-radius: 0 5px 5px 0;
}

.navbar-nav .nav-link {
    color: #c1cdda;
}

.navbar-nav .nav-link:hover {
    color: #9aa0a6;
}
